.allbusinessList {
margin-top:10px;
margin-bottom:10px
}

.noSearchText {
text-align:center;
font-size:14px;
color:#666;
font-family:"PROXIMANOVA-REGULAR";
margin:auto
}

.busList {
text-align:center;
font-size:14px;
color:#666;
font-family:"PROXIMANOVA-REGULAR";
display:none
}

.busList ul li {
display:inline-block;
list-style:none;
margin:1px 2px
}

.busListEnq {
background:#f89b1c;
padding:9px 34px;
color:#fff;
cursor:pointer
}

.listFilter {
font-style:italic
}

.listRelevance,.listOffers,.listDistance {
padding:6px 9px;
cursor:pointer
}

.busListSelected {
background:#f89b1c;
color:#fff
}

.listofTypeHeading {
color:#6cc266;
font-size:20px;
font-weight:400;
font-family:"PROXIMANOVA-REGULAR";
padding:15px 0 0
}

.listofType ul h4 {
margin-bottom:0;
cursor:pointer
}

.listofType ul li {
list-style:none
}

.listofType {
padding:0 10px;
border:1px solid #ccc;
margin-bottom:15px
}

.listofTypeUl {
overflow-y:scroll;
height:720px;
overflow-x:hidden
}

.listofTypeUl ul {
margin-left:10px;
color:#999
}

.listofTypeUl ul li {
margin:3px 0;
cursor:pointer
}

.listofTypeUl ul li:hover {
color:#000
}

.thumbBusDiv {
overflow:hidden;
font-family:'PROXIMANOVA-REGULAR';
border:1px solid #ccc;
margin-bottom:10px
}

.thumbBusDiv:hover {
border:1px solid #f89b1c;
box-shadow:3px 4px 7px -3px rgba(0,0,0,0.75)
}

.thumImgDim {
height:119px;
overflow:hidden;
cursor:pointer;
position:relative
}

.thumImgDim img {
width:100%
}

.thumImgDesc {
margin:2px 10px;
line-height:1
}

.enqHelper {
line-height:1!important
}

.thumImgDesc p {
margin:0
}

.thumImgDescP {
color:#000!important;
line-height:16px;
font-weight:700;
}
.thumbTxtAddr{
/*max-height: 85px;}*/
white-space:nowrap;
}
.thumbTxtOverfl {
display:inline-block;
/*width:230px;*/
/*white-space:nowrap;*/
overflow:hidden!important;
text-overflow:ellipsis;
word-break: break-word;
line-height: 18px;
/*min-height: 40px;*/
}

.thumbEnqBtn {
margin:0 10px 10px;
display:inline-block
}

.thumbEnqBtn button {
border-radius:0;
padding:1px 9px;
background:#6cc233;
outline:none;
border:none
}

.thumDescPhon span {
color:#666
}

.thumDescPhon {
margin-top:3px;
margin-bottom: 5px;
}

.sidebarMap {
border:1px solid #ccc;
cursor:pointer
}

.sidebarMapDiv {
cursor:pointer
}

.sidebarMap:hover,.sidebarMapDiv:hover + .sidebarMap {
border:1px solid #f89b1c
}

.sidebarMapPre {
margin-bottom:40px
}

.sidebarMapPreTwo {
position:relative
}

.sidebarMapDiv {
position:absolute;
text-align:center;
top:31px;
left:23px;
opacity:.7
}

.rightSidebarHead {
color:#666;
text-align:center;
margin-top:0
}

.thumbBusDivT {
overflow:hidden;
font-family:'PROXIMANOVA-REGULAR';
border:1px solid #ccc;
margin-bottom:10px
}

.thumbBusDivT a {
color:#444
}

.thumbBusDivT:hover {
border:1px solid #f89b1c
}

.thumImgDimT {
width:100%;
height:60px;
overflow:hidden;
cursor:pointer
}

.thumImgDimT img {
width:100%
}

.thumImgDescT {
margin:2px 10px 8px;
height:44px
}

.thumImgDescT p {
margin:0
}

.thumImgDescPT {
color:#666!important;
line-height:16px;
font-weight:700
}

.thumImgDescPTT {
line-height:15px
}

.loadMoreBus {
text-align:center;
border:1px solid #ccc;
padding-top:8px;
padding-bottom:8px;
cursor:pointer;
font-size:16px
}

.loadMoreBus:hover {
background:#f89b1c;
color:#fff
}

.listBusMapOp {
width:100%;
text-align:center;
height:250px;
background:#ccc;
margin-bottom:10px;
margin-top:10px
}

.listBusMapOpen {
position:relative;
display:none
}

.listBusMapClose {
position:absolute;
right:0;
background:#f89b1c;
color:#fff;
padding:2px 15px;
cursor:pointer
}

.vCmtEnqPageHide .vCmtEnqPage {
display:none
}

.vEnqConModal {
color:#4e4f51;
font-size:16px;
margin:0;
font-family:"PROXIMANOVA-REGULAR"
}

.listofType ul h4:hover {
color:#000
}

.vCmtEnqPageHideGrid .vCmtEnqPage {
display:none
}

.enqRatingBus {
position:absolute;
bottom:-10px;
background:-webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
background:-o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
background:-moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
cursor: default;
}

.enqRatingBus .fa-map-marker {
font-size:26px;
right:0;
position:relative;
color:#6cc233
}

.enqLeftDiv {
bottom:-2px;
position:relative
}

.enqLeftDiv,.enqMidDiv,.enqRightDiv {
display:inline-block
}

.enqMidDiv {
color:#fff;
position:relative;
top:-13px
}

.enqRatingBus {
width:100%
}

.enqMidDiv {
font-weight:700
}

.enqRightDiv {
margin-right:6px;
position:relative;
top:0;
right:5px;
cursor: pointer;
}

.loadMoreBus {
display:none
}

.vEnqModalCShowTwo {
display:none
}

.vCmtEnqPageHide .vEnqModalCShowOne {
display:none
}

.vCmtEnqPageHide .vEnqModalCShowTwo {
display:block
}

.mapVwPointer {
border:1px solid #ccc!important
}

.displayMapView {
display:none
}

.mapVBusTitle,.mapVBusAddr,.mapVBusPhnNum {
display:inline-block;
width:170px;
white-space:nowrap;
overflow:hidden!important;
text-overflow:ellipsis
}

.mapViewBusList .mapVBusTitle,.mapViewBusList .mapVBusAddr,.mapViewBusList .mapVBusPhnNum {
display:inline-block;
width:227px;
white-space:nowrap;
overflow:hidden!important;
text-overflow:ellipsis
}

.mapVBusTitle {
margin-top:5px;
color:#000!important;
line-height:16px;
font-weight:700
}

.mapVBusPhnNum {
color:#666
}

.scrollMapVwBus {
overflow-y:scroll;
height:720px;
overflow-x:hidden
}

.bkgOrange {
background:#f89b1c;
color:#fff
}

.thumBusOffers {
margin:0 10px 3px;
display:none
}

.thumBusOffersSnO {
background:#f89b1c;
color:#fff;
padding:3px;
border-radius:50%;
margin-right:5px;
font-size:10px
}

.thumBusOffersSnT {
font-size:13px;
color:#6cc233
}

.thumBusOffers .thumBusOffersSnO i {
left:2px;
position:relative;
top:1px
}

.thumBusDistance {
float:left;
display:none;
margin:0 10px 10px;
padding:1px 18px;
background:#f89b1c;
color:#fff;
padding:1px 18px
}

.mapViewBusList .thumbEnqBtn {
margin:10px 10px 10px 0
}

.mapViewBusList .thumBusDistance {
margin:10px;
padding:4px 18px
}

.mapViewBusList .thumBusOffers {
margin:0 10px 10px
}

.mapViewBusList .leftBorder {
left:0;
line-height:1
}

.mapViewBusList .imgMapview {
width:170px;
height:120px
}

.didNotMatchQuery {
text-align:center;
margin-bottom:5px;
display:none
}

.thumImgDimCss {
background-image:url(images/Rightnext-Loading.gif);
background-size:100px 80px;
background-repeat:no-repeat;
background-position:top center
}

.thumbBusDivMarker {
width:230px;
height:160px;
margin-bottom:0;
background:#fff;
overflow:hidden
}

.starMarkerNew {
position:relative;
bottom:30px;
background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
color:#fff;
top:-23px
}

.thumImgDimMarkerNew {
height:90px
}

.imgSearchMarkerNew {
height:100%;
width:100%
}

.markerSInfoModal {
width:220px;
white-space:nowrap;
overflow:hidden!important;
text-overflow:ellipsis
}

.markerBusTitle {
margin:3px 0;
font-size:14px
}

.markerBusAddr {
margin:1px 0
}

.MarkerNoOfVotes {
display:inline-block;
font-weight:700;
top:-14px;
position:relative;
left:14px
}

.markerStarClass {
display:inline-block
}

.markerSInfoMain {
display:block;
top:12px;
position:relative
}