/* CSS declarations go here */
.signup,
.UMlogin{
  /*border: solid red;*/
  box-shadow: 0 0 10px #333;
  padding: 0% 1% 1% 1%;
}

.UMlogin{
  background: #353535;
  margin-top: 100px;
}
.UMlogin{
   padding: 20px 0;
}

.UMright{
  text-align: right;
  font-style: italic;
  color : red;
}

.UMred{
  color: #FF5852;
}

.UMred:hover{
  text-decoration: none;
  color: #fff;
}
.umHeader {
  text-align: center;
  font-size: 15px;
}
.addRoleNew{
      width: 50%;
    margin-left: 25%;
}
.clear {
    clear: both;
}
.diplayNoneresetPwd{
  display: none;
}
.formTitle{
  /*background: #333;*/
  /*text-align: center;*/
  /*color: #fff;*/
  /*color: #000;*/
  padding: 1% 0%;
  text-align: center;
  font-family: 'PROXIMANOVA-REGULAR';
  font-weight: bold;
  color: #3c8dbc;
  
}
.reportTitleName{
   padding: 1% 0%;
  text-align: center;
  font-family: 'PROXIMANOVA-REGULAR';
  font-weight: bold;
  color: #3c8dbc;
}

.UMuppercase{
  text-transform: uppercase;
}

input:invalid {
  /*border: 1px solid #333;*/
}

input:valid {
  /*border: 1px solid green;*/
}

.userListDropdown{
  height: 30px !important;
  /*margin: 30px;*/
  font-size: 15px;
}

.userList th:nth-child(1),
.userCheckbox{
  text-align: center;
}

.userList th{
  padding-left: 1%
}

.deleteUC h2{
  padding : 10px 0 10px 10px;
  background : #E0E0D8;
}

.cancelConfirm .buttonConfirm{
  border-radius: 20px;
}

.deleteUC .dltmsg{
  padding-left: 1%
}

.signupconfig{
  border : 1px solid grey;
  box-shadow: 0 0 15px #333;
  padding: 3%;
}

.signupinner{
  border : 1px solid grey;
  padding: 0% 8% 8% 8%;
}

.signupconfigtitle{
  /*border : 1px solid blue;*/
  padding: 1%;
  text-align: center;
  background: rgb(70, 145, 199);;
  color : #fff;
}

.signupconfigsub{
  background: rgb(217, 224, 211);;
  padding: 1%;
  text-align: center;
}

.signupchk{
  height: 25px;
  width: 25px;
}

.option-input {
  /*-webkit-appearance: none;*/
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  /*top: 13.33333px;*/
  width: 15px;
  height: 15px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  /*z-index: 1000;*/
  border:0;
  margin-right: 1% !important;
}
.option-input:hover { background: #9faab7; border:0;}

.option-input:checked { background: #40e0d0; border:0; }

.option-input:checked::before {
  width: 40px;
  height: 40px;
  position: absolute;
  /*content: '\2716';*/
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
  border:0;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  /*content: '';*/
  display: block;
  position: relative;
  z-index: 100;
  border:0;
}

.option-input.radio { border-radius: 50%; }

.option-input.radio::after { border-radius: 50%; }

@-webkit-keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
 border:0;
}
 100% {
 width: 200px;
 height: 200px;
 margin-left: -80px;
 margin-top: -80px;
 opacity: 0.0;
 border:0;
}
}

@-moz-keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
 border:0;
}
 100% {
 width: 200px;
 height: 200px;
 margin-left: -80px;
 margin-top: -80px;
 opacity: 0.0;
 border:0;
}
}

@-o-keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
  border:0;
}
 100% {
 width: 200px;
 height: 200px;
 margin-left: -80px;
 margin-top: -80px;
 opacity: 0.0;
  border:0;
}
}

@keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
 border:0;
}
 100% {
 width: 200px;
 height: 200px;
 margin-left: -80px;
 margin-top: -80px;
 opacity: 0.0;
 border:0;
}
}

.onetimesubmit{
  margin-top: 15px;
}

.onetimesignup{
  box-shadow: 0 0 5px #333;
  border: 1px solid #333;
  padding: 2%;
}

.registrtitle{
  text-align: center;
}

.glyphi-custom{
  background: #fff;
  color: #FF5852;
}

.UMname{
  border-right: 0;
}

.UMcreateacc{
  text-align: center;
  font-style: italic;
  color : red;
  cursor: pointer;
}

.UMloginbutton{
  background: #5aa3ce;
  padding: 5px 0;
  color: #fff;
  border: 0;
  border-radius: 3px;
}

.UMsignup{
  box-shadow: 0 0 10px #333;
  padding: 0% 1% 1% 1%;
  background: #353535;
  padding: 20px 0;
}

.groupAddr{
  padding-left: 0;
  padding-right: 0;
}

.umbtnAddRole{
  padding: 10px 15px;
  background: #337ab7;
  border: 1px solid #ccc !important;
  text-align: center;
  font-size: 14px;
  color: #fff!important;
  font-weight: 600;
}

.umbtnEdit,
.umbtnDlt{
  padding: 3px 5px;
  background: #337ab7;
  border: 1px solid #ccc !important;
  text-align: center;
  font-size: 14px;
  color: #fff!important;
  font-weight: 300; 
}

.umHeader{
  padding: 1%;
}

.umbtnSbmt{
  background: #337ab7;
  border: 1px solid #ccc !important;
  text-align: center;
  font-size: 14px;
  color: #fff!important;
  font-weight: 600;
}

.roleDelete{
  font-size: 15px;
  color: #337ab7;
  background: none;
  border: 0;
}

.paddingLeftz{
  padding-left: 0;
}

.signupConfigTitle{

  text-align: center;
}

.mdForgetpasdmodal{
  background: #333;
  box-shadow: 0 0 0px !important;
  border-radius: 6px;
  float: none;
  margin: 0 auto;
}

.forgetpassDes{
  text-align: center;
  color: #fff;
}

.forgetHeader .close{
  color: #fff;
}

.editrole,
.roleDelete,
.userDel,
.editUser{
  border: 0;
  background: 0;
  /*font-size: 20px;*/
  color: #337ab7;
}
.userDel{
  color:red!important;
  /*font-size: 0px!important;*/
}

.selectTitle{
  padding-left: 0;
  font-size: 15px;
  font-weight: 900;
  font-family: 'PROXIMANOVA-REGULAR';
}

/*Error Page*/
.UMerrorclass{
  text-align: center;
  font-size: 40px;
}

.UMunauthorized{
  margin-top: 60px;
  box-shadow: 10px 10px 10px 10px #ccc;
}

.UMerrorpage{
  color: #FF5852;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px !important;
}

.Umlogout{
    color: blue;
    font-size: 15px;
    cursor: pointer;
}

#editMyProfile{
  margin-top: 7%;
}
/*========UM noLRPAD=========*//*
.noLRPad{
  position: relative;
  margin-top: 3%;
}*/

.editFormUnderline{
  /*width: 27%;*/
}
.signUpInput{
  border: #2e6da4;
}